body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.brand-cwn {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c1b80b, 0 0 40px #c1b80b, 0 0 50px #c1b80b, 0 0 60px #c1b80b, 0 0 70px #c1b80b;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #08c1c1, 0 0 40px #08c1c1, 0 0 50px #08c1c1, 0 0 60px #08c1c1, 0 0 70px #08c1c1, 0 0 80px #08c1c1;
    }
}

.header-donate {
    margin-top: 120px;
}

.neumorphisme {
    margin-top: 120px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    z-index: 5;
    color: rgb(19, 19, 8);
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.img-donate {
    border-radius: 25px;
    box-shadow: 0 4px 8px black;
}

.title-donation {
    color: #fff;
    text-shadow: #c1b80b;
}

.divider3 {
    width: 100px;
    height: 4px;
    border-radius: 25px;
    background-color: #fff;
}

.direction {    
    border-radius: 25px;
    background-color: #e7b7b7;
    box-shadow: 0 4px 8px black;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    z-index: 5;
    color: rgb(19, 19, 8);
    font-family: sans-serif;

}

.img-direction {
    padding: 3px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}